 /* start variables */
 :root {
     --hero-background: url(../images/bg.png),
         #F6FFF9;
     --main-background-color: #F6FFF9;
     --main-color: #3BAC62;
     --green-color: #297845;
     --background-color: #E3EFFF;
     --gray-color: #565F5A;
     --gray-text-color: #6C7770;
     --white-text: #F9FBFF;
     --white-color: #fff;
 }

 /* end variables */
 /* start global rules */
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     text-decoration: none !important;
     list-style: none !important;
     font-family: 'Bai Jamjuree', sans-serif !important;

 }

 html {
     scroll-behavior: smooth;
 }

 body {
     /* font-family: 'Poppins', sans-serif; */

 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     /* font-family: 'Montserrat', sans-serif; */
 }

 ::-webkit-scrollbar {
     width: .5rem;
     height: .5rem;
 }

 ::-webkit-scrollbar-thumb {
     background: #708090;
     border-radius: 10px;
 }

 ::-webkit-scrollbar-track {
     background: #b8c0c8;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 .button {
     text-align: center;
     border: 1px solid var(--main-color);
     color: var(--main-color);
     /* padding: 6px 30px; */
     padding: 12px 29px;
     width: 150px;
     border-radius: 2.70213px;
     -webkit-border-radius: 2.70213px;
     -moz-border-radius: 2.70213px;
     -ms-border-radius: 2.70213px;
     -o-border-radius: 2.70213px;
     display: block;
 }

 .button.active {
     text-align: center;
     background-color: var(--main-color);
     color: var(--white-text);
     padding: 12px 29px;
     width: 150px;
     display: block;
 }

 /* 
 .container {
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
     position: relative;
 } */

 /* end global rules */
 /* start header */
 header {
     position: absolute;
     width: 100%;
     padding-top: 40px;
     padding-bottom: 50px;
     z-index: 200;

 }

 header .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header .container .logo {
     width: 12%;
     color: var(--main-color);
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 /* header .container .logo img {
     width: 50%;
 } */

 header .container .logo span {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     line-height: 24px;
 }

 header .container ul {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header .container ul {
     margin: 0;
     padding: 0;
 }

 header .container ul li a {
     color: var(--gray-color);
     /* padding-left: 50px; */
     padding: 15px 20px;
     color: #1E1E1E;
 }

 header .container ul li a.login {
     color: var(--main-color);
 }

 header .container a.button {
     /* width: 12%;
     height: 15%; */
     text-align: center;
     /* padding: 10px 20px; */
 }

 /* end header */
 /* start landing */
 .landing {
     background: var(--hero-background);
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
     top: 0;
     left: 0;
     padding-top: 150px;
     padding-bottom: 100px;
     width: 100%;
 }

 .landing .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .landing .container .content {
     flex-basis: 65%;
     color: var(--gray-text);
 }

 .landing .container .content h1 {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 60px;
     line-height: 71px;
     letter-spacing: 0.01em;
     color: var(--main-color);
     margin: 0;
 }

 .landing .container .content p {
     margin: 30px 0 40px;
     font-size: 20px;
     line-height: 1.5em;
     width: 85%;
 }

 .landing .container .content .btns {
     display: flex;
 }

 .landing .container .content .button:not(.active) {
     padding-left: 15px;
     padding-right: 15px;
     margin-left: 30px;
 }

 .landing .container .images {
     width: 40%;
 }

 /* end landing */
 /* start Search */
 /* .search {
     position: relative;
     padding-bottom: 80px;
 }

 .search .container {
     position: absolute;
     top: -75%;
     left: 50%;
     background-color: var(--white-color);
     transform: translate(-50%);
     background-color: var(--white-color);
     padding: 40px;
     display: flex;
     justify-content: space-between;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     -webkit-transform: translate(-50%);
     -moz-transform: translate(-50%);
     -ms-transform: translate(-50%);
     -o-transform: translate(-50%);
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 .search .container>fieldset {
     position: relative;
     width: 33%;
     border: none;
 }

 .search .container>div.pace {
     width: 23%;
 }

 .search .container>fieldset:not(:last-of-type)::after {
     position: absolute;
     content: "";
     width: 1px;
     background-color: #393B4C;
     height: 100%;
     right: 0;
     top: 0;
 }

 .search .container>div h4 {
     margin-bottom: 8px;
 }

 .search .container>div p:first-of-type {
     line-height: 2;
 } */


 .search {}

 .search form {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     box-shadow: 8.52874px 6.09195px 24.3678px rgba(0, 0, 0, 0.11);
     height: 80px;
     width: 90%;
     margin: 0 auto;
     background-color: white;
     top: -40px;
     gap: 20px;
     padding: 0 20px;
 }

 .search form .line {
     height: 67px;
     width: 2px;
     background-color: #ababab99;
 }



 .search .from-control {
     display: flex;
     align-items: center;
     gap: 10px;
 }


 .search .from-control.search input {
     border: none;
     outline: none;
     height: 48px;

 }

 .search .from-control i {
     width: 40px;
     font-size: 22px;
 }

 .search .from-control select {
     border: none;
     /* outline: none;
    width: 87px;
    height: 67px; */
     height: 48px;

 }



 /* .search .from-control.submit {
    padding-left: 50px;
} */

 .search .from-control.submit button {

     border: none;
     color: white;
     background-color: #3BAC62;
     padding: 12px 29px;
     width: 139.65px;
 }

 .search form .form-control:focus,
 .search form .form-select:focus {
     box-shadow: none;
 }

 /* end Search */
 /* start popular schools */
 .schools {
     padding-top: 100px;
     padding-bottom: 100px;
 }

 .schools .container {}

 .schools .container .content {
     width: 100%;
     margin-bottom: 30px;
 }

 .schools .container .content h3 {
     font-size: 40px;
     margin-bottom: 20px;
     color: var(--main-color);
 }

 .schools .container .schools-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
     gap: 28px;
 }

 @media(max-width:767.9px) {
     .schools .container .schools-container {
         grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
         gap: 40px;
     }
 }

 .schools .container .schools-container .school {
     padding: 25px 30px;
     background-color: #FBFDFC;
     /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     -ms-border-radius: 3px;
     -o-border-radius: 3px;
     /* transition: 0.5s;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -ms-transition: 0.5s;
     -o-transition: 0.5s; */
 }



 /* .schools .container .schools-container .school:hover {
     transform: scale(1.05);
     -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
     -ms-transform: scale(1.05);
     -o-transform: scale(1.05);
 } */

 .schools .container .schools-container .school img {
     background-color: #fcecca;
     width: 100%;
     margin-bottom: 10px;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
 }

 .schools .container .schools-container .school .rate {
     padding: 10px 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .schools .container .schools-container .school .rate span:first-of-type {
     width: 50%;
     background-color: var(--background-color);
     color: var(--main-color);
     text-align: center;
     padding: 7px;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
 }

 .schools .container .schools-container .school .rate span {
     width: 30%;
     text-align: right;
 }

 .schools .container .schools-container .school .rate span i {
     color: #FFCE31;
 }

 .schools .container .schools-container .school h4 {
     margin-bottom: 15px;
     color: var(--green-color);
     font-weight: 700;
     font-size: 20px;
     line-height: 30px;
 }

 .schools .container .schools-container .school p {
     color: var(--gray-text-color);
     margin-bottom: 30px;
     font-size: 18px;
     line-height: 23px;
 }

 .schools .container .schools-container .school a {
     color: #000000;
     font-weight: 500;
     position: relative;
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }

 .schools .container .schools-container .school a i {
     margin-left: 6px;
     font-size: 20px;
 }

 .schools .container .button {
     display: block;
     margin: 0 auto;
     margin-top: 40px;
 }

 /* end popular schools */
 /* start events and news */
 .events-news {
     padding-bottom: 100px;
     background-color: var(--main-background-color);
 }

 .events-news .container {
     /* display: flex;
     justify-content: space-between;
     padding: 40px; */
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
     gap: 28px;
 }

 .events-news .container .content {
     /* width: 40%;
     align-self: center; */
 }

 .events-news .container .content p:first-of-type {
     margin-bottom: 20px;
     color: var(--green-color);
     ;
     text-transform: uppercase;
     font-size: 15px;
 }

 .events-news .container .content h3 {
     font-size: 40px;
     width: 80%;
     margin-bottom: 30px;
     color: var(--main-color);
 }

 .events-news .container .content p {
     color: var(--text-color);
     font-size: 14px;
     width: 80%;
     margin-bottom: 30px;
 }

 .events-news .container .content button {
     border: 1px solid var(--main-color);
     padding: 10px;
     color: var(--main-color);
     background-color: transparent;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
 }

 .events-news .container .content button:hover {
     color: white;
     background-color: var(--main-color);
 }

 .events-news .container .image {
     /* width: 490px;
     padding-top: 40px;
     background-color: var(--second-color);
     position: relative; */
 }

 .events-news .container .image img {
     width: 100%;
     object-fit: cover;
 }

 .events-news .container .image .doctor {
     position: absolute;
 }

 @media (max-width:991px) {
     .events-news .container .image img {
         width: 95%;
         height: 100%;
     }
 }

 @media (max-width:767px) {
     .events-news .container {
         flex-direction: column;
         text-align: center;
     }

     .events-news .container .content,
     .events-news .container .image {
         width: 100%;
         margin-bottom: 30px;
     }

     .events-news .container .content p,
     .events-news .container .content h3 {
         width: 100%;
     }

     .events-news .container .image img {
         width: 108%;
     }

     .events-news .container {
         grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
         gap: 40px;
     }

     .button,
     .button.active {
         margin: 0 auto;
     }



 }

 @media (max-width:767px) {
     .events-news .container .image {
         background-color: transparent;
     }

     .events-news .container .image img {
         width: 100%;
     }
 }

 /* end */
 /* start */
 .charity {
     padding-bottom: 100px;
 }

 .charity .container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
     gap: 28px;

 }



 .charity .container .image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .charity .container .content {}

 .charity .container .content h3 {
     font-size: 40px;
     width: 80%;
     margin-bottom: 30px;
     color: var(--main-color);
 }

 .charity .container .content h3 span {
     color: var(--main-color);
 }

 .charity .container .content p {
     color: var(--gray-text-color);
     font-size: 14px;
     width: 80%;
     margin-bottom: 30px;
 }

 .charity .container .content button {
     border: 1px solid var(--main-color);
     padding: 10px;
     color: var(--main-color);
     background-color: transparent;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
 }

 .charity .container .content button:hover {
     color: white;
     background-color: var(--main-color);
 }

 @media (max-width:1199px) {


     .charity .container .content p {
         margin-bottom: 15px;
     }
 }

 @media (max-width:991px) {
     .charity .container {
         flex-direction: column;
         text-align: center;
     }

     .charity .container .content p,
     .charity .container .content h3 {
         width: 100%;
     }

     .charity .container .content {
         margin-top: 24px;
     }

     .charity .container .content,
     .charity .container .image {
         width: 100%;
         text-align: center;
     }


 }

 @media (max-width:767px) {
     .charity .container .image img {
         width: 100%;
     }
 }

 @media (max-width: 991.9px) {
     .charity .container {
         grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
         gap: 40px;
         text-align: center;
     }

     .button.active {
         margin: 0 auto;
     }

     .button {
         margin: 0 auto;
     }
 }




 /* end */
 /* start About */
 .about {
     padding-bottom: 200px;
     background-color: var(--white-background);
 }

 .about .container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
     gap: 33px;
 }

 @media(max-width:991.9px) {
     .about .container {
         grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
         gap: 40px;
         text-align: center;
     }
 }

 .about .container h3 {
     font-size: 38px;
     color: var(--main-color);
 }

 .about .container .content {}

 .about .container .content p {
     line-height: 1.6;
 }

 .about .container .content p:first-of-type {
     margin: 50px 0 10px;
 }

 .about .container .content p:last-of-type {
     margin-bottom: 50px;
     line-height: 31px;
 }

 .about .container .images img {
     width: 100%;
     height: 100%;
     object-fit: contain;
     object-position: center;
 }

 /*start contact*/
 .contact-us {
     padding-bottom: 200px;
 }

 .contact-us .container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(41%, 1fr));
     align-items: center;
     column-gap: 100px;
 }

 .contact-us .trick {
     position: relative;
 }

 .contact-us .image img {
     display: block;
     width: 100%;
 }

 .contact-us .trick::after {
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     border-radius: 21.66px;
     z-index: -1;
     top: 33px;
     left: 33px;
     background: rgba(180, 230, 196, 0.41);

 }

 .contact-us .content input:focus,
 .contact-us .content textarea:focus {
     box-shadow: none;
     border-color: #ced4da;
 }

 .contact-us .content .btn-outline-secondary:hover {
     background-color: #3BAC62;
 }


 .contact-us .content .btn-outline-secondary {
     border-color: #ced4da;
 }

 .contact-us .content textarea {
     resize: none;
     height: 200px;
 }

 @media(max-width:991.9px) {
     .contact-us .container {
         grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
         align-items: center;
         gap: 70px;
     }

     .contact-us .trick::after {
         content: none;
     }
 }

 /*end contact*/

 /* start footer */
 footer {
     background-color: #070A1D;
     padding: 200px 0 100px;
     color: var(--white-text)
 }

 footer .container {
     display: flex;
     justify-content: space-between;
 }

 footer .container .aboutOwner {
     width: 27%;
     line-height: 1.7;
 }

 footer .container .aboutOwner .logo {
     width: 60%;
     margin-bottom: 25px;
 }

 footer .container .aboutOwner .logo img {
     width: 100%;
 }

 footer .container .aboutOwner .social-media {
     display: flex;
     justify-content: space-between;
     margin-top: 70px;
 }

 footer .container .aboutOwner .social-media i {
     font-size: 35px;
     margin-right: 15px;
     color: var(--white-text);
 }

 footer .container ul {
     width: 15%;
 }

 footer .container ul li {
     margin-bottom: 10px;
 }

 @media (max-width: 768px) {
     footer .container {
         flex-wrap: wrap;
     }

     footer .container ul,
     footer .container .aboutOwner {
         width: 50%;
     }

 }

 @media (max-width: 576px) {
     footer .container {
         flex-direction: column;
         gap: 20px;
     }

     footer .container ul,
     footer .container .aboutOwner {
         width: 100%;
     }

 }

 /* end footer */


 /* 
 @media (min-width: 576px) {}

 @media(min-width:768px) {
     .container {
         width: 750px;
     }
 }

 @media(min-width:992px) {
     .container {
         width: 970px;
     }
 }

 @media(min-width:1200px) {
     .container {
         width: 1170px;
     }
 } */